div.main-container {
  max-width: 1300px;
  margin-left: 0;
  margin-right: 1;
  text-align: justify;
  text-justify: inter-word;
}

.banner {
  background-color: #b5132c;
  font-weight: 200;
  position: relative;
  padding: .5rem 1rem;
  display: flex;
  max-width: 1300px;
}

.logo-naomi {
  height: 60px;
  padding-left: 15px;
  padding-right: 10px;
}

.logo-unaids {
  height: 60px;
}

.banner-text {
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  font-size: 35px;
}

#translate {
  display: none;
}

#translate[lang="t_(LANG)"] {
  display: block;
}
