.Rproj.user
.Rhistory
.RData
*~
README.html
inst/doc
doc
Meta
docs
package-setup.R
*.tar.gz
dev/*
outputs
vignettes/*.html
vignettes_src/*.html
vignettes_src/cache
vignettes_src/model-workflow_cache
vignettes_src/model-workflow.Rmd
.~lock*
tests/testthat/testdata/fit.RDS
.vscode
.Rprofile
R/.DS_Store
.DS_Store
